QMenu {
    border: 1px solid black;
}

QMenu, QWidget, QWidgetAction{
    background-color: #444444;
    color: whitesmoke;
}
QMenu:disabled, QLabel:disabled{
    color: gray;
}
QMenu::item:selected
{
    background: rgb(97, 97, 97);
}
QWidget:hover, QWidgetAction:hover
{
    background: rgb(97, 97, 97);
}

QMenu::item
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 50px;
    height: 18px;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
}

QMenu::icon {
    icon-size: 36px;
    margin-left: 10px;
    margin-right: 10px;
}
QMenu::indicator {
    width: 36px;
    height: 36px;
    icon-size: 36px;
}
